# == :インストールバージョンを指定する
# >= :指定バーション以上をインストールする
# != :指定バージョン以外をインストールする
# <= :指定バージョン以下をインストールする
#    :指定なし常に最新バージョンをインストールする
#
###### ラズパイ側の環境設定 ######
nfcpy>=1.0.3        #カードリーダ制御用


###### サーバー側の環境設定 ######


